<div v-if="currentlyEditingExo()">
  <div id="header">
    <div id="title">
      <h1>Modification d'exercice</h1>
    </div>
  </div>

  <div id="main">
    <div id="subhead"><h2>{{editedExo.nom}}</h2></div>
    <div id="content">
      <div class="group">      
        <input type="text" v-model="editedExo.nom" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Nom</label>
      </div>
      <div class="group">      
        <input type="text" v-model="editedExo.nbSeries" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Nombre de séries</label>
      </div>
      <div class="group">      
        <input type="text" v-model="editedExo.mode" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Nombre de répétitions</label>
      </div>
    </div>
    <div id="footer">
      <div id="buttons">
        <button v-on="click: cancelEditedExo()">Cancel</button>
        <button v-on="click: saveEditedExo()">Save</button>
      </div>
    </div>
  </div>
</div>

<div v-if="!currentlyEditingExo()">
  <div id="header">

    <div class="actions left">
      <a href="/#/"><i class="fa fa-chevron-left"></i></a>
    </div>
    
    <div>
      
    </div>
    <div id="title">
      <h1>Modèle de scéance</h1>
    </div>

    <div class="actions">
      <div v-on="click: toggleEdit">
        <i class="fa fa-pencil" v-if="!editing"></i>
        <i class="fa fa-check" v-if="editing"></i>
      </div>
    </div>
  </div>

  <div id="main">
    <div id="subhead">
      <h2>Exercices</h2>
    </div>

    <div id="content">
      <p v-if="currentlyEditingExo()">Currently Editing Exo #{{editedExo}}</p>

      <ul class="list-items">
        <li class="item exo-item" v-repeat="modele" v-on="click: editExo($index)">
          <div class="exo-infos">
            <p class="exo-name">{{nom}}</p>
            <p class="exo-details">{{nbSeries}} series de {{mode}} répétitions</p>
          </div>

          <div class="exo-actions">
            <i class="fa fa-chevron-right" v-if="!editing"></i>
            <div class="exo-edit-actions" v-if="editing">
              <i class="fa fa-minus-circle" v-on="click: deleteExo($index)"></i>
              <i class="fa fa-bars"></i>          
            </div>
          </div>
        </li>
      </ul>

      <div class="addBtn" v-on="click: newExo">
        <i class="fa fa-plus"></i>
      </div>
  </div>
</div>


